<mat-card class="example-card">
  <h2 class="mat-elevation-z1">My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hi, I'm</h3>
      <h1>Cheska Ann <span>Mendoza</span></h1>
      <h4>Bachelor of Science in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/profile.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>Address: Brgy. Balilit Carigara, Leyte <br> Birthdate: July 12, 1999 <br> Civil Status: Single <br> Nationality: Filipino </p>
  </mat-card-content>
</mat-card>